.para {
    font-family: 'merriweather';
    font-size: 20px;
    color: black;
    padding: 25px;
    width: 60%;
    margin: 0px;
}

.para:hover{
    color: red;
}

#first-para {
    float: left;
}

header{
    background-color: rgb(255, 166, 0);
    padding: 2%;
    text-align: center;
}
#heading-1 {
    width: fit-content;
    color: whitesmoke;
    margin:0px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'courgette';
    font-size: 60px;
    border-bottom: 5px dashed blue;    
} 
body {
    margin: 0;
}

video {
    float: right;
    border: 5px dashed rgb(17, 0, 255);
    margin-right: 20px;
}

#para-1{
    background-color: rgba(243, 202, 202, 0.479);
    padding: 10px 0px;
    display: inline-block;
    margin: 0px;
    animation: colorchange infinite 10s;
}

hr {
    height: 2px;
    width: 90%;
    border-radius: 60%;
    background-color: rgb(255, 72, 0);
}

nav {
    position: fixed;
    z-index: 3;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0px;
    padding: 0px;
}

#nav-ul {
    display: none;
    width: 15%;
    background-color: red;
    height: 100vh;
    padding: 40px;
}
.nav-li {
    display: block;
    margin: 10px 30px;
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    border-bottom: 3px dashed blue;
    font-family: 'courgette';
    font-size: 20px;
}

a {
    text-decoration: none;
    color: white;
}

#second-para {
    float: right;
    margin: 0px;
}
.headings-small {
    background-color: rgb(233, 155, 155);
    text-align: left;
    margin: 0px;
    padding: 10px 100px;
    font-family:'courgette';
    color: rgb(250, 3, 3);
    text-decoration: underline blue dashed;
    font-size: 45px;
}

#right-heading {
    text-align: right;
    padding-right: 30px;
}

.points-ul {
    width: 55%;
    list-style-type: symbols('&part;');
    opacity: 80%;
}

#video-animation-2 {
    float: left;
    margin-left: 30px;
    animation-name: FromLeft;
    position: relative;
    animation-duration: 3s;
    animation-delay: 4s;
}

#video-animation {
    animation-name: FromRight;
    position: relative;
    animation-duration: 3s;
    animation-delay: 4s;
}

@keyframes FromLeft {
    from {
        left: -2000px;
    }
    to {
        left: 0px;
    }
}

@keyframes FromRight {
    from {
        right: -1000px;
    }
    to {
        right: 20px;
    }
}

#headings-tiny {
    text-align: left;
    margin: 0px;
    padding: 5px 100px;
    font-family:'courgette';
    color: rgb(250, 3, 3);
    text-decoration: underline blue dashed;
    font-size: 25px;
    content: "";
    clear: both;
    display: table;
}
.statistic-image-1{
    /* background-color: rgba(243, 202, 202, 0.479); */
    overflow: hidden;
    position: relative;
    animation-name: colorchange;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    
}

@keyframes colorchange {
    0% {background-color: rgb(255, 202, 202);}
    14% {background-color: rgb(255, 218, 176);}
    28% {background-color: rgb(247, 255, 177);}
    42% {background-color: rgb(188, 255, 185);}
    56% {background-color: rgb(176, 246, 255);}
    70% {background-color: rgb(188, 183, 255);}
    84% {background-color: rgb(241, 187, 248);}
    100% {background-color: rgb(255, 176, 193);}
}

img {
    border: 5px dashed blue;
    margin-top: 20px;
    margin-left: 100px;
    width: 40%;
}
#para-1-1 {
    font-family: 'merriweather';
    font-size: 20px;
    color: black;
    padding: 25px;
    width: 45%;
    margin: 0px;
    float: right;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
}
.wrapper > div {
    flex: 1 1 150px;
}

.question {
    font-family: 'merriweather';

}

.answer {
    font-family: 'merriweather';
}

.spaced {
    animation: colorchange infinite 10s;
    padding: 50px 100px;
}
#feedback {
    /* background-color: rgba(243, 202, 202, 0.479); */
    animation: colorchange infinite 10s;
}

img:hover{
    box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.699);
}
video:hover{
    box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.699);
}
p:hover{
    color: red;
}
#para-1-1:hover{
    color:red;
}
.headings-small:hover{
    font-weight: bold;
    font-size: 50px;
    transition-duration: 1s;
}
#headings-tiny:hover{
    font-weight: bolder;
    font-size: 30px;
    transition-duration: 1s;
}
#heading-1:hover{
    font-weight: bolder;
    font-size: 75px;
    transition-duration: 1s;
}
.nav-li:hover{
    font-weight:bold;
    font-size: 25px;
    transition-duration: 1s;
}
.headings-small:hover {
    font-weight: bold;
    font-size: 50px;
    transition-duration: 1s;
}
#headings-tiny:hover{
    font-weight: bolder;
    font-size: 30px;
    transition-duration: 1s;
}
#footer{
	position: relative;
	height: 18vh;
	width: 100vw;
	background-image: linear-gradient(-225deg, #65379B 0%, #886AEA 53%, #6457C6 100%);
}
#footer-left{
	position: absolute;
	height: auto;
	width: 50vw;
	left: 0;
	top: 0;
	font-size: 18px;
	font-family: Open Sans;
	padding: 15px;
	font-weight: 800;
	color: white;
	background-color: transparent;
	text-align: center;
}
#footer-left > p{
	background-color: transparent;
}
#social{
	position: absolute;
	right: 10vw;
	top: 2vh;
	height: inherit;
	display: flex;
	align-items: center;
}
#logo{
	position: absolute;
	height: 60px;
	width: 60px;
	top: 40px;
	left: 7vw;
	background-image: url(/resources/amity-logo.jpg);
	background-size: cover;
}
::-webkit-scrollbar{
	width: 8px;
	background: rgba(0,0,0,0.9);
	border-radius: 5px;
}
::-webkit-scrollbar-thumb{
	width: 4px;
	background: #f1f1f1;
	border-radius: 5px;
}
*{
	margin:0;
}
#loader{
	height: 100vh;
	width: 100vw;
	display: block;
	background-color: yellow;
	position: fixed;
	z-index: 20;
	animation-name: load;
	animation-duration: 3s;
	animation-iteration-count:1;
	animation-fill-mode: forwards;
}
#inload{
	text-align: center;
	height: 250px;
	width: 250px;
	border-radius: 50%;
	position: absolute;
	background-color: #FFFFFF;
	left: 40vw;
	top: calc(50vh - 150px);
	display: block;
	background-image: url(/resources/amity-logo.jpg);
	background-size: cover;
	background-position: center;
	z-index: 20;
	animation-name: load;
	animation-duration: 3s;
	animation-iteration-count:1;
	animation-fill-mode: forwards;
}
@keyframes load{
	0%{transform: translate(0,-100vh);}
	1%{transform: translate(0,0);}
	80% {transform: translate(0,0);}
	100%{transform: translate(0,-100vh);}
}
#outloader_1{
	font-family: Roboto;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	background-color: white;
	position: relative;
}
#outloader_1in{
	height: 100vh;
	width: 100vw;
	background-image: url(/resources/d7652496636349ddbc5e411d5050f532.jpg);
	background-size: cover;
	background-position: center;
	overflow: hidden;
	background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
}
#responsible{
	position: absolute; 
	height: auto;
	width: 100vw;
	right: 0;
	top: 11vh;
	font-family: Boogaloo;
	font-size: 115px;
	color: orange;
	font-weight: 900;
	text-align: center;
	text-shadow: 3px 4px black;
	animation:  text1 2s 3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	translate: (-100px, 200px);
	opacity: 0;
}
@keyframes text1{
	0%{opacity: 0; transform: translate(-100px, 200px);}
	20%{transform: rotateZ(-90deg);}
	90%{transform: rotateZ(450deg);}
	100%{opacity: 1; transform: translate(0,0);}
}
#sub{
	position: absolute;
	height: 33px;
	width: 0vw;
	font-family: Boogaloo;
	font-size: 30px;
	top: 60vh;
	left: 30vw;
	color: red;
	text-shadow: 0.5px 1px yellow;
	animation: text2 5s 5s steps(82, end) infinite,
    blink-caret .75s step-end infinite;
    animation-fill-mode: forwards;
	overflow: hidden;
	border-right: 1.5px solid transparent;
	white-space: nowrap;
    font-weight: bold;
}
@keyframes text2{
	0%{width: 0;}
	70%{width: 42vw;}
	90%{width: 42vw;}
	100%{width: 0;}
}
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}
#link{
	height: auto;
	width: 100vw;
	text-align: center;
	position: absolute;
	top: 80vh;
	left: 0;
	font-family: Open Sans;
	font-size: 20px;
	color: hotpink;
	opacity: 0;
	transform: translate(0,-80px);
	animation: text3 2s 8.5s;
	animation-fill-mode: forwards;
}
@keyframes text3{
	from{
		opacity: 0;
		transform: translate(0, -80px);
	}
	to{
		opacity: 1;
		transform: translate(0,0);
	}
}
#home-right{
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	height: inherit;
}
#toggleCheckbox:checked ~ .collapse {
    display: block;
}

#toggleCheckbox {
    display:none;
}

.collapsed {
    cursor: pointer;
    width: 100px;
}

#intro{
	height: 100vh;
	width: 100vw;
	background-color: #E4E4E1;
	background-image: url(../resources/start-ecomerce-store-og.png.jpg);
	background-size: cover;
	background-position: center;
	display: inline-block;
	border-bottom: 3px solid black;
	border-top: 3px solid black;
	overflow: hidden;
	background-attachment: fixed;
}
    #heading{
        position: relative;
        font-family: Acme;
        height: auto;
        width: 50vw;
        font-size: 50px;
        text-align: center;
        top: 5vh;
        background-color: black;
        color: white;
        left: 25vw;
        font-weight: 900;
        }
    #intro figure {
        position: relative;
        overflow: hidden;
        max-width: 100vw;
        max-height: 100vh;
        background: #3085a3;
        text-align: center;
        cursor: pointer;
    }
    
    #intro figure img {
        position: relative;
        display: block;
        min-height: 100%;
        width: 100vw;
        opacity: 0.8;
    }
    
    #intro figure figcaption {
        padding: 2em;
        color: #fff;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    
    #intro figure figcaption::before,
    #intro figure figcaption::after {
        pointer-events: none;
    }
    
    #intro figure figcaption {
        position: absolute;
        top: 0;
        left: 0;
        width: 97%;
        height: 100%;
    }
    figcaption > h2 {
        word-spacing: -0.15em;
        font-weight: 800;
        text-align: center;
        font-size: 70px;
        font-family: Acme;
    }
    
    #intro figure h2,
    #intro figure p {
        margin: 0;
    }
    
    figcaption > p {
        letter-spacing: 1px;
        font-size: 68.5%;
        font-size: 28px;
        font-family: Open Sans;
        font-weight: 800;
    }
    figure.effect img {
        transition: all 0.35s;
        transform: scale(1.12);
    }
    
    figure.effect:hover img {
        opacity: 0.5;
        transform: scale(1);
    }
    
    figure.effect figcaption {
        padding: 3em;
    }
    
    figure.effect figcaption::before {
        position: absolute;
        height: 100vh;
        width: 100vw;
        top: 0;
        left: 0;
        border: 1px solid #fff;
        content: '';
        transform: scale(1.1);
    }
    
    figure.effect figcaption::before,
    figure.effect p {
        opacity: 0;
        transition: all 0.35s;
    }
    
    figure.effect h2 {
        padding: 20px 0 20px -30px;
    }
    
    figure.effect p {
        margin: 0 10vw;
        max-width: 90vw;
        transform: scale(1.5);
        padding-top: 22vh;
        font-size: 22px;
    }
    
    figure.effect:hover figcaption::before,
    figure.effect:hover p {
        opacity: 1;
        transform: scale(0.9);
        background-size: cover;
        background-position: center;
        display: inline-block;
        border-bottom: 3px solid black;
        border-top: 3px solid black;
        overflow: hidden;
        background-attachment: fixed;
}

#heading{
	position: relative;
	font-family: Acme;
	height: auto;
	width: 50vw;
	font-size: 50px;
	text-align: center;
	top: 5vh;
	background-color: black;
	color: white;
	left: 25vw;
	font-weight: 900;
	}
#intro figure {
	position: relative;
	overflow: hidden;
	max-width: 100vw;
	max-height: 100vh;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

#intro figure img {
	position: relative;
	display: block;
	min-height: 100%;
	width: 100vw;
	opacity: 0.8;
}

#intro figure figcaption {
	padding: 2em;
	color: #fff;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

#intro figure figcaption::before,
#intro figure figcaption::after {
	pointer-events: none;
}

#intro figure figcaption {
	position: absolute;
	top: 0;
	left: 0;
	width: 97%;
	height: 100%;
}
figcaption > h2 {
	word-spacing: -0.15em;
	font-weight: 800;
	text-align: center;
	font-size: 70px;
	font-family: Acme;
}

#intro figure h2,
#intro figure p {
	margin: 0;
}

figcaption > p {
	letter-spacing: 1px;
	font-size: 68.5%;
	font-size: 28px;
	font-family: Open Sans;
	font-weight: 800;
}
figure.effect img {
	transition: all 0.35s;
	transform: scale(1.12);
}

figure.effect:hover img {
	opacity: 0.5;
	transform: scale(1);
}

figure.effect figcaption {
	padding: 3em;
}

figure.effect figcaption::before {
	position: absolute;
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	border: 1px solid #fff;
	content: '';
	transform: scale(1.1);
}

figure.effect figcaption::before,
figure.effect p {
	opacity: 0;
	transition: all 0.35s;
}

figure.effect h2 {
	padding: 20px 0 20px -30px;
}

figure.effect p {
	margin: 0 10vw;
	max-width: 90vw;
	transform: scale(1.5);
	padding-top: 22vh;
	font-size: 22px;
}

figure.effect:hover figcaption::before,
figure.effect:hover p {
	opacity: 1;
	transform: scale(0.9);
}

#closeLabel {
    background-color: red;
    height: fit-content;
}
@font-face{
	src: url(../resources/fonts/OpenSans-LightItalic.ttf);
	font-family: Open Sans;
}
@font-face{
	src: url(../resources/fonts/Boogaloo-Regular.ttf);
	font-family: Boogaloo;
}
@font-face{
	src: url(../resouces/fonts/Acme-Regular.ttf);
	font-family: Acme;
}
@font-face{
	src: url(../resources/fonts/Comfortaa-Bold.ttf);
	font-family: Comfortaa;
}
@font-face{
	src: url(../resources/fonts/Bangers-Regular.ttf);
	font-family: Bangers;
} 
html, body {
	overflow-x: hidden;
	margin: 0; 
}
::-webkit-scrollbar{
	width: 8px;
	background: rgba(0,0,0,0.9);
	border-radius: 5px;
}
::-webkit-scrollbar-thumb{
	width: 4px;
	background: #f1f1f1;
	border-radius: 5px;
}
#responsible-1{
	position: absolute; 
	height: auto;
	width: 100vw;
	right: 0;
	top: 20vh;
	font-family: Bangers;
	font-size: 153px;
	color: #EAFAF1;
	font-weight: 900;
	text-align: center;
	text-shadow: 3px 4px black, -1px -1px black;
	opacity: 1;
	background-color: transparent;
	letter-spacing: 8px;
}
#responsible-1::selection{
	color: royalblue;
}
#sub-1::selection{
	color: magenta;
}
@keyframes text1{
	0%{transform: rotate(0deg); top: -100vh; opacity: 0;}
	75%{transform: rotate(720deg);}
	100%{transform: rotate(0deg); top: 0; opacity: 1;}
}
#sub-1{
	position: absolute;
	height: 33px;
	width: 100vw;
	font-family: Comfortaa;
	font-size: 30px;
	top: 60vh;
	color: crimson;
	text-shadow: 0.5px 1px white;
	overflow: hidden;
	border-right: 1.5px solid transparent;
	white-space: nowrap;
	text-align: center;
}
div > h1{
	font-family: Boogaloo;
}
div{
	font-family: Open Sans;
}
#main {
	height: 100vh;
	width: 100vw;
	background-image: url(../resources/poly.png);
	position: fixed;
	animation: text1 2.3s ease-in-out;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	background-position: center;
	background-size: cover;
}